<div class="w-full md:w-1/2 space-y-2.5"></div>
            <div class="flex items-center gap-2.5 mt-8">
                <div class="w-8 h-1 bg-light-primary"></div>
                <h4 class="text-sm">Our Journey</h4>
            </div>
            <div class="space-y-5">
                <h3 class="text-2xl md:text-4xl font-raleway text-[#272D3E] dark:text-white">
                    {{ aboutData?.journey_title || "Loading..." }}
                </h3>
                <p class="text-[#272D3E]/80 dark:text-gray-300 text-sm md:text-base">
                    {{ aboutData?.journey_text_1 || "Loading..." }}
                    <br /><br />
                    {{ aboutData?.journey_text_2 || "Loading..." }}
                </p>
            </div>
        </div>